---
layout: markdown_page
title: Plan Stage Jobs To Be Done (JTBD)
description: "The Jobs To Be Done for which the Plan stage is focused on solving."
canonical_path: "/direction/plan/jtbd"
---

<%= partial("direction/jtbd-list", locals: { stage_key: "Plan" }) %>
