.container.slp-container
  .row.u-margin-top-lg.text-center
    %h1 Tracks
    %h4.u-margin-bottom-md{style: "font-weight: 300;"} For 2021, six tracks highlight how GitLab’s DevOps platform enables us to innovate together.
  
  .row.u-margin-bottom-md
    .col-md-5.u-margin-top-xs
      %h4 
        %img.icon{:src => "https://gitlab.com/gitlab-com/marketing/corporate_marketing/corporate-marketing/-/raw/cef8ace6a503c8b79400fe41c0741a4de7b52ead/design/_progress/vic/icons-for-nout---commit-email/white/bulb-300px.png", :width => "30px", loading: "lazy"}/
        GitLab tips and tricks
      %p Learn from GitLab users and technical practitioners as they share their successes and setbacks about using GitLab at their organizations. You’ll discover practical insights and useful takeaways that you can put into practice with your team.
    .col-md-5.col-md-offset-1
      = image_tag "/images/events/gitlab-commit/hands_on_learning1.jpg"
      
  .row.u-margin-bottom-md
    .col-md-5
      = image_tag "/images/events/gitlab-commit/come-together1.jpg"
    .col-md-5.col-md-offset-1.u-margin-top-xs
      %h4 
        %img.icon{:src => "https://gitlab.com/gitlab-com/marketing/corporate_marketing/corporate-marketing/-/raw/cef8ace6a503c8b79400fe41c0741a4de7b52ead/design/_progress/vic/icons-for-nout---commit-email/white/cog-300px.png", :width => "30px", loading: "lazy"}/
        Leading transformation
      %p Digital transformation creates new opportunities to drive innovation and efficiency in an effort to improve customer experiences. Learn practical advice on how to use GitLab’s DevOps platform to plan, shape, and lead a digital transformation within your organization.
    
  .row.u-margin-bottom-md
    .col-md-5.u-margin-top-xs
      %h4 
        %img.icon{:src => "https://gitlab.com/gitlab-com/marketing/corporate_marketing/corporate-marketing/-/raw/cef8ace6a503c8b79400fe41c0741a4de7b52ead/design/_progress/vic/icons-for-nout---commit-email/white/cloud-300px.png", :width => "30px", loading: "lazy"}/
        Cloud native
      %p High-performing teams embrace microservices and cloud native applications to build and run applications better and faster. Learn how teams use GitLab to leverage cloud native technologies, like Kubernetes, severless, and multicloud, to increase speed, reliability, and scale.
    .col-md-5.col-md-offset-1
      = image_tag "/images/events/gitlab-commit/devops1.jpg"
      
  .row.u-margin-bottom-md
    .col-md-5
      = image_tag "/images/events/gitlab-commit/data-panel.jpg"
    .col-md-5.col-md-offset-1.u-margin-top-xs
      %h4 
        %img.icon{:src => "https://gitlab.com/gitlab-com/marketing/corporate_marketing/corporate-marketing/-/raw/cef8ace6a503c8b79400fe41c0741a4de7b52ead/design/_progress/vic/icons-for-nout---commit-email/white/tanuki-300px.png", :width => "30px", loading: "lazy"}/
        CI/CD
      %p Teams need the right tools to automate their deployments so that designing, building, and optimizing pipelines accelerate delivery. Learn how teams use GitLab’s built-in CI/CD as a part of a DevOps platform to create automated workflows.

  .row.u-margin-bottom-md
    .col-md-5.u-margin-top-xs
      %h4 
        %img.icon{:src => "https://gitlab.com/gitlab-com/marketing/corporate_marketing/corporate-marketing/-/raw/cef8ace6a503c8b79400fe41c0741a4de7b52ead/design/_progress/vic/icons-for-nout---commit-email/white/devops-300px.png", :width => "30px", loading: "lazy"}/
        DevSecOps
      %p When teams increase DevOps velocity, they must ensure application security is a critical component in the development lifecycle. Learn how teams reduce risk, shift security left, and address security and compliance challenges with GitLab’s integrated security capabilities.
    .col-md-5.col-md-offset-1
      = image_tag "/images/events/gitlab-commit/devops.jpg", loading: "lazy"

  .row.u-margin-bottom-md
    .col-md-5
      = image_tag "/images/events/gitlab-commit/compliance.jpg", loading: "lazy"
    .col-md-5.col-md-offset-1.u-margin-top-xs
      %h4 
        %img.icon{:src => "https://gitlab.com/gitlab-com/marketing/corporate_marketing/corporate-marketing/-/raw/cef8ace6a503c8b79400fe41c0741a4de7b52ead/design/_progress/vic/icons-for-nout---commit-email/white/earth-300px.png", :width => "30px", loading: "lazy"}/
        Education
      %p Educational institutions use software to transform teaching and learning, advance scientific research, and modernize campus infrastructure. Learn how institutions have solved unique challenges with creative solutions powered by GitLab. 
  .row.u-margin-bottom-xs
