@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

.centered-form-info {
  text-align: center;
  color: $color-white;

  a {
    color: $color-white;
    text-decoration: underline;
  }

  h2 {
    margin-top: 0;
  }
}

.demo-info {
  color: $color-white;
  max-width: 1400px;
  margin: 0 auto;
  z-index: 1;

  @media all and (max-width: $screen-md-min) {
    max-width: 100%;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  h3 {
    color: $color-self-managed-accent;
  }

  a {
    color: $color-white;
    text-decoration: underline;
  }

  p {
    font-size: 20px;
    margin-bottom: 20px;
  }

  ul {
    margin-bottom: 20px;
  }
}

.demo-info-col-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  padding-bottom: 20px;

  @media all and (max-width: $container-large-desktop) {
    max-width: 480px;
    margin: 0 auto;
  }

  @media all and (max-width: $screen-md-min) {
    max-width: none;
  }
}

.demo-info-col-left {
  width: 55%;

  @media all and (max-width: $container-large-desktop) {
    width: 100%;
  } 
}

.demo-info-col-right {
  width: 40%;

  @media all and (max-width: $container-large-desktop) {
    display: none;
  }  
}

.demo-cta-text--desktop {
  display: block;

  @media all and (max-width: $screen-md-min) {
    display: none;
  }
}

.demo-cta-text--mobile {
  display: none;

  @media all and (max-width: $screen-md-min) {
    display: block;
  }
}

.demo-icon {
  height: 80px;
}

.footer {
  margin-top: 0;
}

.demo-container {
  width: 100%;
  height: 100%;
  display: flex;

  @media all and (max-width: $screen-md-min) {
    flex-direction: column-reverse;
  }

  .video-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 65px 55px;
    transition: $transition-primary-longer;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   width: 100%;
    //   height: 100%;
    //   background: $color-transparent-alt-darken;
    //   z-index: 1;
    // }

    iframe {
      display: none;
      border: 0;
      box-shadow: none;
      width: 800px;
      height: 450px;
      margin-top: 30px;

      @media all and (max-width: $screen-md-min) {
        height: 350px;
      }
    }

    @media all and (max-width: $screen-md-min) {
      padding: 40px 20px;
    }
  }

  .demo-form-container {
    width: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    padding: 50px;
    background: white;

    @media all and (max-width: $screen-md-min) {
      width: 100%;
      padding: 40px 20px;
    }

    h3 {
      color: $color-primary;
      font-weight: 700;
    }

    .mktoForm {
      max-width: 100%;
    }

    .mktoLabel {
      width: auto;
      line-height: 1.3;
    }

    .mktoButtonRow .mktoButtonWrap button {
      background-color: $color-self-managed-accent;

      &:hover {
        background-color: $color-accent;
      }
    }
  }

  .demo-checkmark-list {
    li {
      margin-left: 5px;
      margin-bottom: 15px;
      position: relative;
      list-style-type: none;

      &::before {
        content: url("/images/demo/checkmark-circle-white.svg");
        position: absolute;
        left: -45px;
      }
    }
  }
}

.demo-logo-section {
  padding-top: 35px;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  width: 100%; 
}

.demo-logo-heading {
  font-size: 2.9rem;
  line-height: 1.3;
  margin-bottom: 40px;
}

.demo-logos {
  li {
    list-style-type: none;
    margin: 0 20px 30px;
  }
  
  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 0;
    padding-left: 0;
  }

  img {
    max-height: 36px;
    max-width: 92px;
  }
}
